extends ../layouts/application.pug

block header
  = t('views.labels.newHead')

block content
  +formFor()(action=route('labels') method='post')
    +input(label, 'name', errors)(type="text")
    +submit(label)(value=t('views.actions.create'))
